
     Major Requirements
     

      Preparation for the Major
     

       Complete 18 courses as follows:
      
         COM SCI 1 - Freshman Computer Science Seminar
        
       
         COM SCI 31 - Introduction to Computer Science I
        
       
         COM SCI 32 - Introduction to Computer Science II
        
       
         COM SCI 33 - Introduction to Computer Organization
        
       
         COM SCI 35L - Software Construction
        
       
         EC ENGR 3 - Introduction to Electrical Engineering
        
       
         MATH 31A - Differential and Integral Calculus
        
       
         MATH 31B - Integration and Infinite Series
        
       
         MATH 32A - Calculus of Several Variables
        
       
         MATH 32B - Calculus of Several Variables
        
       
         MATH 33A - Linear Algebra and Applications
        
       
         MATH 33B - Differential Equations
        
       
         MATH 61 - Introduction to Discrete Structures
        
       
         PHYSICS 1A - Physics for Scientists and Engineers: Mechanics
        
       
         PHYSICS 1B - Physics for Scientists and Engineers: Oscillations, Waves, Electric and Magnetic Fields
        
       
         PHYSICS 1C - Physics for Scientists and Engineers: Electrodynamics, Optics, and Special Relativity
        
       
          Computer Science M51A or Electrical and Computer Engineering M16
         

           Select one course from:
          
             COM SCI M51A - Logic Design of Digital Systems
            
           
             EC ENGR M16 - Logic Design of Digital Systems
            
           

          Physics 4AL or 4BL
         

           Select one course from:
          
             PHYSICS 4AL - Physics Laboratory for Scientists and Engineers: Mechanics
            
           
             PHYSICS 4BL - Physics Laboratory for Scientists and Engineers: Electricity and Magnetism
            
           

      The Major
     

       Complete 19 courses as follows: 10 required courses, one probability course, one capstone design course, one electrical and computer engineering elective, three computer science electives, and three courses (12 units) of technical breath.
      
         COM SCI 111 - Operating Systems Principles
        
       
         COM SCI 118 - Computer Network Fundamentals
        
       
         COM SCI 131 - Programming Languages
        
       
         COM SCI 180 - Introduction to Algorithms and Complexity
        
       
         COM SCI 181 - Introduction to Formal Languages and Automata Theory
        
       
         EC ENGR 100 - Electrical and Electronic Circuits
        
       
         EC ENGR 102 - Systems and Signals
        
       
         EC ENGR 115C - Digital Electronic Circuits
        
       
          Computer Science M151B or Electrical and Computer Engineering M116C
         

           Select one course from:
          
             COM SCI M151B - Computer Systems Architecture
            
           
             EC ENGR M116C - Computer Systems Architecture
            
           

          Computer Science M152A or Electrical and Computer Engineering M116L
         

           Select one course from:
          
             COM SCI M152A - Introductory Digital Design Laboratory
            
           
             EC ENGR M116L - Introductory Digital Design Laboratory
            
           

          Probability
         

           Select one course from:
          
             C&EE 110 - Introduction to Probability and Statistics for Engineers
            
           
             EC ENGR 131A - Probability and Statistics
            
           
             MATH 170A - Probability Theory I
            
           
             MATH 170E - Introduction to Probability and Statistics 1: Probability
            
           
             STATS 100A - Introduction to Probability
            
           

          Capstone Design
         

           Complete the following course:
          
             COM SCI 152B - Digital Design Project Laboratory
            
           

          Electrical and Computer Engineering Elective
         
           Select a minimum of 4 units and one elective course from Electrical and Computer Engineering 101A through M185.
          

          Computer Science Elective
         
           Select a minimum of 12 units and three elective courses from Computer Science 111 through CM187, and up to 8 units of Computer Science 188.
          

          Technical Breadth
         
           Select 12 units of technical breadth courses from an approved list available in the Office of Academic and Student Affairs.
Students who want to deepen their knowledge of electrical engineering are encouraged to select that discipline as their technical breadth area.
          

