
<!DOCTYPE html>

<html>
  <head>
    <title>Opticourse</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
  </head>
  <body>
    <div>
      <nav>
        <a href="index.html">Home</a>
        <a href="opticourse.html">Plan Optimizer</a>
      </nav>
    </div>
    <div>
      <h1>Opticourse</h1>
      <h2>Revolutionize academic planning.</h2>
    </div>
    <div class="desc">
      <p>We optimize user course planning by recommending the various courses they may take over their four years, accounting for factors such as user's chosen program, course availability, and first/second pass considerations.
        This process removes the stress of having to plan ahead, and allows users to better compare potential degree plans and academic paths available to them at any time during their education.
      </p>
    </div>
  </body>
</html>